h1 {
  margin : 15px;
  text-align : center;
}

.body {
  text-align : center;
  margin-top : 30px;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

.btn-primary:hover {
    background-color: #A9A9A9;
  border-color: #A9A9A9;
}
